/* page-wide defaults */
html {
  font-size: 1.6rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

div#made-by {
  display: inline;
  float: right;
  font-size: 0.6rem;
  line-height: 0.8rem;
  padding-top: 0.3rem;
}